/*import font (inter) */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body font */

body {
    font-family: 'Inter', sans-serif;
    background: #E5E5E5;
}

#hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    font-weight: 800;
    font-size: 1.3rem;
    cursor: pointer;
}

header {
    width: 100%;
    padding: 1.3rem 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3f6745;
    margin-bottom: 0;
}

.menuList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    text-transform: capitalize;
    flex-flow: nowrap;
    padding: 0;
}

.menuItem {
    margin: 0px 1.4rem;
    text-decoration: none;
    color: #3f6745;
    font-weight: 500;
}


.menuItem {
    display: inline;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #3f6745 !important;
}

.header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myacct {
    margin: 0px 1rem;
    padding: 5%;
    border-radius: 5px;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 500;
    color: #3f6745;
    border-color: #3f6745;
    background-color: transparent;
    min-width: 8rem;
    height: 2.8rem;
    align-items: center;
    line-height: 0.6rem;
    text-align: center;
    border: 1.5px solid #3f6745;
    cursor: pointer;
}

.createacct {
    margin: 0px 1rem;
    padding: 5%;
    border-radius: 5px;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 500;
    color: #ffffff;
    background-color: #3f6745;
    border-color: #3f6745;
    min-width: 8rem;
    height: 2.8rem;
    align-items: center;
    line-height: 0.6rem;
    border: none;
    text-align: center;
    border: 2px solid #3f6745;
    cursor: pointer;
}

/* btn hover */
.myacct {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.myacct:hover,
.myacct:focus,
.myacct:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.createacct {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.createacct:hover,
.createacct:focus,
.createacct:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

main {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

div.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 80vh;
    background-color: #3f6745;
    padding: 2%;
    margin: 0.8% auto;
    border-radius: 15px;
}

div.text-area {
    display: grid;
    margin-top: 30px;
    margin-left: 70px;
    color: #ffffff;
}

h1.grow-career-text {
    color: #ffffff;
    font-size: 4rem;
    line-height: 5rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: 1;
}

div.new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 37px;
    width: 340px;
    background: #315237;
    border-radius: 25px;
    margin-bottom: 20px;
    outline: none;
}

p.get-offer {
    font-size: 12px;
    font-weight: 280;
    margin: 10px;
}

div.new-color {
    display: flex;
    background: #ffc152;
    margin-left: 5px;
    z-index: 1;
    padding: 0;
    width: 65px;
    height: 30px;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

p.learn {
    color: #ffffff;
    margin-top: 25px;
    font-size: 1.2rem;
    font-weight: 300;
}

div.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 400px;
    background: #ffffff;
    border-radius: 7px;
    margin-top: 40px;
    position: relative;
}

input#input {
    border-radius: 7px;
    height: 47px;
    position: absolute;
    padding: 10px;
    margin: 8px 0 9px 8px;
    width: 320px;
    background-color: #f2f2f2;
    border: none;
    font-size: 15px;
    font-weight: 10;
}

div.search-icon {
    padding: 10px;
    height: 47px;
    width: 50px;
    background-color: #fd6816;
    border-radius: 7px;
    margin-left: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fa-search {
    font-size: 20px;
    font-weight: 0;
    text-align: center;

}

img.girl {
    height: 575px;
    width: auto;
}

.ten-container {
    padding: 20px;
    margin: 50px 150px 0 150px;
}

.ten-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    margin: 0;
}

.ten-left-10k {
    font-size: 55px;
    display: grid;
}

.fa-heart {
    color: #fd6816;
    margin: 2px 0 5px 0;
}

.active-students {
    font-weight: 450;
    margin-bottom: 2px;
    font-size: 20px;
}

.on-website {
    color: #fd6816;
    font-size: 18px;
}

.ten-center-47 {
    font-size: 55px;
    display: grid;
}

.fa-star {
    color: #ffc152;
    margin: 2px 0 5px 0;
}

.rating {
    font-weight: 450;
    margin-bottom: 2px;
    font-size: 20px;
}

.user-community {
    color: #fd6816;
    font-size: 18px;
}

.trusted {
    font-size: 30px;
    font-weight: 600;
    line-height: 2.5rem;
}

.ten-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 80px;
    margin-top: 80px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #DFDCDC;
    height: 180px;
}

.ten-logo {
    width: 150px;
}

.working-container {
    padding: 20px;
    margin: 80px 0 30px 0;
}

.working-process {
    font-size: 3.2rem;
    text-align: center;
    font-weight: 610;
}

.working-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
}

.find-course {
    display: grid;
    margin-left: 10px;
}

.find-course-icon {
    width: 100px;
    height: 100px;
    background-color: #3f6745;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.find-course-text {
    margin-top: 25px;
    font-size: 1.7rem;
    font-weight: 600;
}

.fa-search-plus {
    color: #ffffff;
    font-size: 2.5rem;
}

.we-have-helped {
    color: #808080;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.6rem;
}

.book-seat {
    display: grid;
    margin-left: 10px;
}

.book-seat-icon {
    width: 100px;
    height: 100px;
    background-color: #3f6745;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.book-seat-text {
    margin-top: 25px;
    font-size: 1.7rem;
    font-weight: 600;
}

.fa-calendar-check {
    color: #ffffff;
    font-size: 2.5rem;
}

.get-certificate {
    display: grid;
    margin-left: 10px;
    background-color: #ffffff;
    padding: 28px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #DFDCDC;
}

.get-certificate-icon {
    width: 100px;
    height: 100px;
    background-color: #fd6816;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.get-certificate-text {
    margin-top: 25px;
    font-size: 1.7rem;
    font-weight: 600;
}

.fa-graduation-cap {
    color: #ffffff;
    font-size: 2.5rem;
}

.curved-line1-section {
    position: absolute;
    top: 1500px;
    left: 290px;
}

.curved-line1 {
    width: 350px;
    height: 100px;
    border: 3px #808080 solid;
    border-color: transparent transparent #808080 transparent;
    border-radius: 90%;
    border-style: dashed;
    transform: rotate(170deg);
}

/* .curved-line1-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #808080;
    float: right;
    position: relative;
} */

.curved-line2-section {
    position: absolute;
    top: 1450px;
    left: 710px;
}

.curved-line2 {
    width: 350px;
    height: 100px;
    border: 3px #808080 solid;
    border-color: transparent transparent #808080 transparent;
    border-radius: 90%;
    border-style: dashed;
    transform: rotate(348deg);
}

/* .curved-line2-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #808080;
    float: right;
    position: relative;
} */

.our-popular-courses-section {
    padding: 20px;
    margin: 0 150px;
}

.our-popular-courses {
    padding: 20px;
}

.our-popular-courses-text {
    margin-left: 10px;
    font-size: 2.5rem;
    font-weight: 650;
}

.online-education-text {
    margin-left: 10px;
    margin-top: 10px;
    color: #808080;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6rem;
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 180px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #DFDCDC;
    float: right;
    margin-right: 10px;
    margin-top: 0;
    border-radius: 15px;
    cursor: pointer;
}

.sort-text {
    font-size: 0.9rem;
    font-weight: 400;
}

.course-cards-section {
    margin-top: 4em;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(29rem, auto);
    grid-gap: 1.5rem;
}


.course-card {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #DFDCDC;
    border-radius: 10px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: flex-start;
    justify-content: start;
}

.card1-img-img {
    width: 21rem;
    align-items: center;
    border-radius: 10px;
}

.uiux-price,
.web-design-price,
.maths-price,
.digital-price,
.public-speaking-price {
    width: 21rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.6em;
}

.uiux,
.web-design,
.maths,
.digital-marketing,
.public-speaking {
    background-color: #FFE6D9;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 500;
}

.price,
.wd-price,
.maths-price-250,
.dg-price,
.ps-price {
    font-weight: 650;
    color: #fd6816;
}

.how-to {
    width: 21rem;
    margin-top: 0.7em;
    font-weight: 600;
    font-size: 1.1rem;
}

.uiux-lessons-online {
    width: 21rem;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: left;
}

.uiux-lessons {
    display: flex;
    width: 5.7rem;
    align-items: center;
    justify-content: space-between;
}

.lessons-24 {
    font-size: 0.8rem;
    color: #808080;
}

.uiux-online {
    display: flex;
    width: 6.9rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 2em;
}

.online-classes {
    font-size: 0.8rem;
    color: #808080;
}

.card-line {
    width: 21rem;
    margin-top: 1.5rem;
    background-color: #FFA06F;
    height: 0.15rem;
}

.votes-next {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 21rem;
    margin-top: 1.6rem;
}

.votes-section {
    display: flex;
    width: 8.6rem;
    justify-content: space-between;
    align-items: center;
}

.votes-36 {
    font-size: 0.8rem;
    color: #808080;
}

.fa-arrow-alt-circle-right {
    color: #3F6745;
    font-size: 2rem;
    cursor: pointer;
}

.join-live-class-section {
    padding: 20px;
    margin-top: 80px;
}

.join-live-class {
    font-size: 2.7rem;
    text-align: center;
}


.join-class-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-class {
    display: flex;
    margin-top: 2em;
    padding: 0.8em;
    width: 9em;
    height: 2.6em;
    border: 1px solid #fd6816;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.joinclass-icon {
    width: 1.6em;
    height: 1.6em;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #DFDCDC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redcircle {
    width: 0.5em;
    height: 0.5em;
    background-color: #ff0000;
    border-radius: 50%;
}

.class-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-name-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    height: 6em;
    width: 45em;
}

.fa-caret-down {
    font-size: 1.1rem;
}

.classname {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.5em;
    height: 2.7em;
    padding: 1em;
    transition: 0.5s;
}

.classname:hover,
.section:hover,
.subject:hover,
.room:hover {
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #DFDCDC;
    cursor: pointer;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.2em;
    height: 2.7em;
    padding: 1em;
    transition: 0.5s;
}

.subject {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.2em;
    height: 2.7em;
    padding: 1em;
    transition: 0.5s;
}

.room {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.4em;
    height: 2.7em;
    padding: 1em;
    transition: 0.5s;
}


.live-img-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.live-img-section {
    background-image: url("./img/pexels-tima-miroshnichenko-5198239.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30em;
    width: 45em;
    border-radius: 10px;
}

.live {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 5.2em;
    height: 1.6em;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
    top: 1.6em;
    left: 1.6em;
    padding-left: 0.6em;
}

.live-red-circle {
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: #ff0000;
}

.live-textt {
    font-size: 0.6rem;
    font-weight: 600;
    margin-left: 0.6em;
}

.live-time {
    font-size: 0.4rem;
    font-weight: 700;
    margin-left: 1em;
}

.students-joined {
    position: relative;
    top: 28em;
    left: 1.6em;
    font-size: 0.8rem;
    color: #ffffff;
}

.students-joined-section {
    position: relative;
    top: 23em;
    left: 1.6em;
    width: 41em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-picture-section {
    margin-left: 0.5em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 2em;
}

.profile-picture {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1.8px solid #ffffff;
    margin-left: -0.5em;
}

.pfp1 {
    background-image: url(./img/rediet-abebe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pfp2 {
    background-image: url(./img/anatoly-yakovenko.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pfp3 {
    background-image: url(./img/hanu-fejiro.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pfp4 {
    background-image: url(./img/elon-musk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pfp5 {
    background-image: url(./img/iyin-aboyeji.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pfp6 {
    background-image: url(./img/vitalik-buterin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pfp7 {
    background-image: url(./img/winner-umeh.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pfp8 {
    background-color: #fd6816;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plus-in-pfp8 {
    font-size: 1.2rem;
    color: #ffffff;
}

.students-joined-first-controls {
    width: 9em;
    height: 2em;
    margin-left: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.fa-microphone {
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: 0px 0px 50px #000;
    cursor: pointer;
}

.phone-container {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fa-phone {
    color: #ff0000;
    font-size: 1em;
}

.fa-share-nodes {
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: 0px 0px 50px #000;
    cursor: pointer;
}

.students-joined-second-controls {
    width: 9em;
    height: 2em;
    margin-left: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.fa-gear {
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: 0px 0px 50px #000;
    cursor: pointer;
}

.fa-volume-low {
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: 0px 0px 50px #000;
    cursor: pointer;
}

.fa-expand {
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: 0px 0px 50px #000;
    cursor: pointer;
}

.get-instant-alert-container {
    border: 1px solid red;
    position: relative;
}

.get-instant-alert-img-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 5em;
    border: 1px solid red;
    width: 100%;
    height: 36em;
}

.get-instant-alert-img {
    background-image: url(./img/girl-alert.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 25em;
    height: 30em;
    top: 4em;
    left: 3em;
    z-index: -1;
    

    /* border-top: 0 solid transparent;
    border-left: 25em solid aqua;
    border-bottom: 3em solid transparent; */
}

.get-instant-alert-img::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 1;
    bottom: 0;
    content: '';
    -webkit-transform: skew();
    transform-origin: right;
    transform: skewY(-5deg);
    border: 1px solid red;
    
}

.get-instant-alert-text {
    position: relative;
    width: 38.6em;
    height: 30em;
    top: 4em;
    left: 10em;
    border: 1px solid black;
}

.new-message-alert {
    position: absolute;
    top: 25em;
    left: 15em;
    width: 15em;
    height: 10em;
    border-top: 0 solid transparent;
    border-left: 15em solid #ffffff;
    border-bottom: 1.8em solid transparent;
}